name: Build-Test

on:
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/**"
      - "**.md"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "**.md"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: false

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -v ./...
